.r-schedule,
.r-schedule * {
  box-sizing: border-box;
}
.r-schedule {
  width: 100%;
  border: 1px solid #ddd;
}
.r-clearfix {
  clear: both;
}
.r-scale {
  display: inline-block;
  width: 50px;
  height: 100%;
  float: left;
  border-right: 1px solid #ddd;
  text-align: center;
}
  .r-scale-header {
    height: 60px;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
  }
  .r-scale-hour {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    font-style: italic;
  }
.r-content {
  display: inline-block;
  float: right;
  width: calc(100% - 50px); /* subtract scale's width */
  height: 100%;
}
  .r-data {
    position: relative;
    display: flex;
    min-height: calc(100% - 60px);
    z-index: 2;
  }
    .r-data-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
      .r-data-bg .r-data-row {
        height: 30px;
        display: block;
        border-bottom: 1px solid transparent;
      }
      .r-data-bg .r-data-row:nth-child(odd) {
         border-bottom-color: #ddd;
      }
      .r-data-bg .r-data-row:nth-child(even) {
        border-bottom-color: #aaa;
      }
    .r-day {
      flex: 1;
      border-right: 1px solid #ddd;
      min-height: 100%;
    }
      .r-day-header {
        font-weight: 600;
        height: 60px;
        border-bottom: 1px solid #ccc;
        text-align: center;
        display: block;
      }
    .r-day:last-child {
      border-right: none;
    }